* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}

.header {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header nav a {
    margin: 0 10px;
    color: #2c6bed;
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

.about {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.about-text {
    flex: 1;
    margin-left: 50px;
}
.map-box {
    flex: 1;
    text-align: center;
}
.checkbox{
    padding: 20px;
}
.map-box iframe {
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
}

.map-box button {
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.note {
    background: #fff3cd;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    border: none;
    background: #2c6bed;
    color: white;
    cursor: pointer;
}

button.danger {
    background: #e74c3c;
    margin: 20px 0px;
}

.btn-group button {
    margin-right: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
}

textarea {
    height: 80px;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    margin-top: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #ddd;
}

.footer a {
    color: #2c6bed;
    text-decoration: none;
}
.card2-h2{
    text-align: center;
}
