/* Header Layout */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 0;
    background: transparent;
}

.header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    margin-top: 20px;
}

