/* Main CSS File - Imports all stylesheets */

/* Base Styles */
@import url('base/reset.css');
@import url('base/variables.css');
@import url('base/typography.css');

/* Layout */
@import url('layout/grid.css');
@import url('layout/header.css');
@import url('layout/footer.css');
@import url('layout/navigation.css');

/* Components */
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/forms.css');

/* Pages */
@import url('pages/home.css');

